body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-style: italic; /* texto en cursiva */
  background-color: #fff8dc; /* un fondo claro cálido */
}

header {
  background-color: #ff5722; 
  color: white;
  padding: 10px;
}

nav {
  background-color: #4caf50; 
  padding: 10px;
}

main {
  background-color: #e1bee7; 
  font-size: 18px;
  padding: 15px;
}

footer {
  background-color: #2196f3; 
  color: #fff;
  padding: 10px;
  text-align: center;
}

li {
  display: inline-block;
  width: 150px;
  font-style: italic; 
  color: #d500f9; 
}

h1 {
  text-align: center;
  font-family: 'Comic Sans MS', cursive; 
  font-style: italic;
  color: #e91e63; 
}

p {
  line-height: 1.8;
  color: #212121; 
}

main{
  min-height:100px;
}

a{
  text-decoration: none;
}

.centrar-img {
  display: block;
  margin: 0 auto;
}
